<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GistCommenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D49B0CC1EC2877F00D22A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D49B0E31EC2878000D22A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D49B0EE1EC2878000D22A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
